.header{
  padding-left: 10px;
  margin-top: .5rem;
}

.header h3 a{
  color: white;
}

.header ul {
  align-items: baseline;
}

.header ul li {
  padding: .5rem 1rem;
  list-style-type: none;
  margin: 0;
  border-radius: 3px;
}

.header a:hover {
  text-decoration: none;
}

.header ul li:hover {
  background-color: #444;
}
